{% extends 'base.html.twig' %}

{% import _self as formMacros %}

{% macro printCompanyRow(user_company_form) %}
    <div class="col-lg-4 bg-info">
        <button class="delete_company btn btn-danger"><span class="fa fa-close">Delete</span></button>
        {{ form_errors(user_company_form) }}
        {{ form_row(user_company_form.company) }}
        {{ form_row(user_company_form.yearsWork) }}
    </div>
{% endmacro %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">

    </style>

{% endblock stylesheets %}

{% block main %}

    <h1 class="col-xs-12 text-center">{{ title }}</h1>


    <div class="col-lg-12">

        {{ form_start(userForm) }}

        {{ form_row(userForm.name) }}

        {{ form_row(userForm.tall) }}
        {{ form_row(userForm.weight) }}
        {{ form_row(userForm.region, {
            'label': 'Where are you from'
        }) }}
        {{ form_row(userForm.born) }}
        {{ form_row(userForm.isActive) }}
        {{ form_row(userForm.isEverWorking) }}

        <div class="row data-wrapper" data-prototype="{{ formMacros.printCompanyRow(userForm.company.vars.prototype)|e('html_attr') }}" data-index="{{ userForm.company|length }}">

            <h3 class="col-lg-12 text-center">Companies</h3>

            {% for user_company_form in userForm.company %}
                {{ formMacros.printCompanyRow(user_company_form) }}
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Edit</button>

        <button class="add_company btn btn-success"><span class="fa fa-plus-circle">Add company</span></button>

        {{ form_end(userForm) }}


    </div>




{% endblock main %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            const buttons_delete = $('button.delete_company');
            buttons_delete.on('click', function(event){
                event.preventDefault();
                $(this).parent().remove();
            });

            const button_add = $('button.add_company');

            button_add.on('click', function(event){
                event.preventDefault();

                const data_wrapper = $('div.data-wrapper');

                // Get the data-prototype explained earlier
                const prototype = data_wrapper.data('prototype');

                // get the new index
                const index = data_wrapper.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                data_wrapper.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                //var $newFormLi = $('<li></li>').append(newForm);
                //$newLinkLi.before($newFormLi);
                //$('button[type="submit"]').before(newForm);
                data_wrapper.children().last().after(newForm);
            });
        });
    </script>


{% endblock javascripts %}