{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">

        ul{
            padding-left: 40px;
        }

    </style>

{% endblock stylesheets %}

{% block main %}

    <h1 class="col-lg-12">{{ title }}</h1>

    <div class="col-lg-10 m-auto">
        <ul class="list-group">
            <li class="list-group-item ">
                <a href="{{ path('manager_show_users') }}">Show users</a>
            </li>
            <li class="list-group-item ">
                <a href="{{ path('manager_show_companies') }}">Show companies</a>
            </li>
        </ul>
    </div>




{% endblock main %}

