<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Welcome to my site{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="favicon">
        <a href="{{ path('home') }}"><img src="{{ asset('images/icon_yellow.png') }}" alt="Icon"></a>
    </div>

    <div id="nav" >
        <a title="Best score table" href="{{ path('score') }}">B</a>
        <a title="Contact us" href="{{ path('learn_homepage') }}">C</a>
        <a title="Administration" href="{{ path('admin_home') }}">A</a>
        <a title="Administration" href="{{ path('manager_home') }}">M</a>
    </div>

    <div id="main">
        {% for msg in app.session.flashBag.get('success')  %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
        {%  endfor %}
        {% block main %}{% endblock %}
    </div>
</div>

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">Made with <i class="fa fa-heart" style="color: red;"></i> by the guys and gals at <a href="https://knpuniversity.com">KnpUniversity</a></span>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('js/lib/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>